* {
    padding: 0px;
    margin: 0px;
    font-family: 'Century Gothic', Calibri, sans-serif;
}

header {
    color: white;
    background-color: #262626;
    padding: 10px 20px;
}

footer {
    color: white;
    background-color: #262626;
    text-align: center;
    padding: 10px 20px;
}

footer h1{
    margin-bottom: 30px;
}

.wide-nav a {
    float: left;
    padding: 17px 3%;
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.wide-nav a:hover {
    background-color: #D9D9D9;
    color: black;
}

.side-nav {
    display: none;
}

.openNav {
    float: left;
    padding-top: 18px;
    padding-left: 30px;
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

.topnav {
    background: #F4F4F4;
    width: 100%;
    height: 64px;
    color: black;
}

.topnav img {
    float: left;
    padding: 10px 20px 0px 20px;
    width: 200px;
}

.content {
    width: 100%;
    background-color: #262626;
}

#slider {
	width: 100%;
	height: 500px;
	margin: auto;
	position: relative;
	font-size: 15px;
 }
  
 #slider .slides-container {
	position: relative;
	width: 100%;
	height: 100%;
 }
  
 #slider .slide {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
 }

 #slider .slide p {
    position: absolute;
	font-size: 24px;
	color: white;
    text-align: left;
    padding: 6px 10px 20px 10px;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
 }
  
 #slider .slide:first-child {
	display: block;
 }
  
 #slider img {
	width: 100%;
	height: 100%;
	object-fit: cover;
 }
 
 #slider .pager {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
	color: #d9d9d9;
	text-align: center;
    bottom: 1%;
    left: 48%;
 }
  
 #slider .arrows a {
	position: absolute;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.65);
	top: 43%;
	left: 15px;
	font-weight: 400;
	line-height: 1;
	font-size: 42px;
 }
  
 #slider .arrows a:hover {
	color: #fff;
 }
  
 #slider .arrows a.next {
	left: initial;
	right: 15px;
 }
 
.content .map {
    text-align: right;
    background-image: url(../Assets/home/map.jpg);
    background-size: cover;
    border-top: solid;
    border-bottom: solid;
    border-color: #737373;
}

.content .operator {
    background-image: url(../Assets/home/operator.jpg);
    background-size: cover;
    border-top: solid;
    border-bottom: solid;
    border-color: #737373;
}

.content .map p {
    font-size: 60px;
    color: #FFFFFF;
    margin: 100px 160px;
    padding-right: 10px;
    background: rgba(0, 0, 0, 0.7);
    display: inline-block;
}

.content .operator p {
    font-size: 60px;
    color: #FFFFFF;
    padding: 100px 100px;
}

.content button {
    background-color: #262626;
    color: white;
    padding: 6px 10px;
    border-style: solid;
    border-color: #737373;
    cursor: pointer;
    font-size: 40px;
    /* width: 100px; */
}

.content .map .button_padding {
    padding: 100px 200px 180px 100px;
}

.content .operator .button_padding {
    padding: 100px 100px 140px 140px;
}

.content_map {
    text-align: center;
    height: 1000px;
    background-color: rgb(0, 0, 0) ;
    background-image: url(https://static-dm.akamaized.net/siege/prod/r6s-bg-black.jpg);
}

.content_map h1 {
    text-align: center;
    font-size: 50px;
    padding: 50px 0px 10px 0px;
    font-weight: normal;
    color: white;
}

.content_map h6{
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    color: white;
}

.content_map .col {
    float: left;
    width: 25%;
    text-align: center;
}

.content_map .row{
    padding: 100px 0px;
}

.content_map .row .col p{
    color : white;
    font-size: 20px;
}

.content_operator {
    text-align: center;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-image: url(https://static-dm.akamaized.net/siege/prod/r6s-bg-black.jpg);
}

.content_operator h1 {
    text-align: center;
    font-size: 50px;
    padding: 50px 0px 10px 0px;
    font-weight: normal;
    color: white;
}

.content_operator h6 {
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    color: white;
}

.content_operator #slider {
    margin: auto;
    position: relative;
    font-size: 15px;
}

.content_operator #slider img {
    width: 423px;
}

.content_operator #slider .operator-desc{
    color: white;
    position: absolute;
    text-align: left;
    top: 1%;
    padding: 6px 10px;
    width: 25%;
    padding-left: 150px;
}

.content_operator #slider .operator-desc h1{
    display: inline-block;
}

.content_operator #slider .operator-desc h6 {
    display: inline-block;
    text-align: left;
    font-size: 18px;
}

.content_operator p{
    color : white;
    margin-bottom: 20px;
}

.content_operator .col {
    float: left;
    padding: 0px 10px 0px 10px;
    text-align: center;
    cursor: pointer;
}

.content_operator .row {
    max-width: 100%;
    margin: 0 37%;
    display: flex;
    justify-content: space-between;
}

.content_quarantine {
    text-align: center;
    color: white;
    background-image: url(https://static-dm.akamaized.net/siege/prod/r6s-bg-black.jpg);
}

.content_quarantine #slider {
    height: 550px;
}

.content_quarantine h1 {
    font-size: 60px;
}

.content_preorder {
    text-align: center;
    padding-top: 20px;
    height: 760px;
    color: white;
    background-image: url(https://static-dm.akamaized.net/siege/prod/r6s-bg-black.jpg);
}

.content_preorder strong {
    font-size: 20px;
}

.content_preorder input {
    margin: 2px auto;
    padding: 6px 10px;
    width: 20%;
}

.content_preorder select {
    margin: 2px auto;
    padding: 6px 10px;
    width: 21%;
}

.content_preorder #inputTerms {
    padding: 0;
    width: auto;
}

.content_preorder button {
    background-color: #262626;
    color: white;
    padding: 6px 10px;
    margin-top: 15px;
    border-style: solid;
    border-color: #737373;
    cursor: pointer;
    font-size: 40px;
}

#coboy{
    background-image: url(../Assets/operator/coboy.jpg);
    width: 100px;
    height: 200px;
    background-size: auto;
    display: inline-block;
}

#cyborg {
    background-image: url(../Assets/operator/cyborg.jpg);
    width: 100px;
    height: 200px;
    background-size: auto;
    display: inline-block;
}

#desperado {
    background-image: url(../Assets/operator/desperado.jpg);
    width: 100px;
    height: 200px;
    background-size: auto;
    display: inline-block;
}

#destroyer {
    background-image: url(../Assets/operator/destroyer.jpg);
    width: 100px;
    height: 200px;
    background-size: auto;
    display: inline-block;
}

#infant {
    background-image: url(../Assets/operator/infant.jpg);
    width: 100px;
    height: 200px;
    background-size: auto;
    display: inline-block;
}

#robin {
    background-image: url(../Assets/operator/robin.jpg);
    width: 100px;
    height: 200px;
    background-size: auto;
    display: inline-block;
}

#spacetrop {
    background-image: url(../Assets/operator/spacetrop.jpg);
    width: 100px;
    height: 200px;
    background-size: auto;
    display: inline-block;
}

#vmec {
    background-image: url(../Assets/operator/vmec.jpg);
    width: 100px;
    height: 200px;
    background-size: auto;
    display: inline-block;
}

@media (max-width:1200px) {
    .side-nav{display:inline}
    .wide-nav{display:none}

    .content_operator #slider .operator-desc {
        color: white;
        position: absolute;
        text-align: center;
        top: 90%;
        left: 8%;
        padding: 6px 10px;
        width: 50%;
        padding-left: 150px;
    }

    .content_operator #slider{
        padding-bottom: 400px;
    }

    .content_operator #slider .operator-desc h1 {
        display: inline-block;
    }

    .content_operator #slider .operator-desc h6 {
        display: inline-block;
        text-align: left;
        font-size: 18px;
    }

    .content_operator .col {
        float: left;
        
        padding: 0px 10px 0px 10px;
        text-align: center;
        cursor: pointer;
    }

    .content_operator .row {
        
        max-width: 100%;
        margin: 0 20%;
        display: flex;
        justify-content: space-between;
    }
}
